Source: lltag
Section: sound
Priority: extra
Maintainer: Brice Goglin <Brice.Goglin@ens-lyon.org>
Build-Depends-Indep: debhelper (>= 4.0.2)
Standards-Version: 3.6.2.1

Package: lltag
Architecture: all
Depends: ${perl:Depends}
Recommends: mp3info, vorbis-tools, flac, libterm-readline-gnu-perl | libterm-readline-perl-perl
Description: Automatic command-line mp3/ogg/flac file tagger and renamer
 lltag is a command-line tool manipulating MP3 ID3, OGG or FLAC tags.
 It may be used to tag multiples files at once by comparing their filename
 or pathname against a configurable list of formats.
 lltag may also rename files according to a configurable filename format.
